.main {
    margin: 5px 20px;
}

.login {
    width: 404px;
    margin: 15px auto;
}

.login::after {
    clear: both;
}

.login-btn {
    width: 200px;
}

.folder-boxes {
    margin: 10px auto;
    width: 1020px;
}

.folder {
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    width: 500px;
    float: left;
}

.folder.left {
    margin-right: 10px;
}

.folder.right {
    margin-left: 10px;
}

.folder ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
}

.folder li {
    padding: 0 15px;
}

.folder li .glyphicon {
    margin-right: 10px;
}

.folder li:hover {
    background-color: #66afe9;
}

.folder .dropbox {
    background: url(/resources/img/31-dropbox-128.png) no-repeat;
}

.folder .google {
    background: url(/resources/img/GoogleDrive.png) no-repeat;
}

.folder .google, .folder .dropbox {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    display: inline-block;
}

.top-folder-menu {
    margin-left: 15px;
    margin-bottom: 10px;
}

.folder-add {
    cursor: pointer;
}

.spinner {
    background: url(/resources/img/spinner.gif) no-repeat;
    background-size: 80px 80px;
    width: 192px;
    height: 192px;
    display: inline-block;
}