.main {
    margin: 5px 20px;
}

.login {
    width: 404px;
    margin: 15px auto;
}

.login::after {
    clear: both;
}

.login-btn {
    width: 200px;
}

.folder {
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    width: 500px;
}

.folder ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
}

.folder li {
    padding: 0 15px;
}

.folder li:hover {
    background-color: #66afe9;
}

.back-to-accounts {
    margin-left: 15px;
}